<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDB3vsqVp1nVt57JsnR3xuO2p9TQEmTT8c</string>
	<key>GCM_SENDER_ID</key>
	<string>858556351786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.constructApp</string>
	<key>PROJECT_ID</key>
	<string>cocunstruct</string>
	<key>STORAGE_BUCKET</key>
	<string>cocunstruct.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858556351786:ios:680674f8ba9c6ebce70a53</string>
</dict>
</plist>